<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatib1e" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=l.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css')}}"
    />
  </head>
  <body>
    <header class="header">
      <img class="logo-img" src="static/Logo Lions 02.png" alt="LOGIN" />
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <div class="tentang">
      <div class="about">
        <form action="">
          <div class="logo">
            <img class="logo-img" src="static\Logo Lions 02.png" alt="LOGIN" />
          </div>
        </form>
        <h1>Haii, Selamat datang di Lions Priority !!!</h1>
        <p>
          Disini kami membantu mengatur pengerjaan tugas Kamu dengan akurat.
          Pengguna dapat dengan mudah menetapkan tenggat waktu untuk setiap
          tugas dan menerima pemberitahuan prioritas yang perlu dikerjakan
          terlebih dahulu
        </p>
        <p>
          Kami membantu mahasiswa Lions untuk mengelola tugas mereka dengan
          lebih efisien. Prioritaskan tugas-tugas Kamu, tetap fokus, dan capai
          kesuksesan akademis Kamu Sekarang!
        </p>
      </div>
      <div class="oleh">
        <header>DIBUAT OLEH</header>
      </div>
      <div class="founder">
        <div class="orang">
          <div class="orang1">
            <img class="logo-img1" src="static\14.jpg" alt="SYAMSUL MAARIP" />
            <h4>SYAMSUL MAARIP</h4>
          </div>
          <div class="orang1">
            <img class="logo-img1" src="static\07.jpg" alt="NAZWA AULIA RAHMAN" />
            <h4>NAZWA AULIA RAHMAN</h4>
          </div>
          <div class="orang1">
            <img class="logo-img1" src="static\05.jpg" alt="SALMAN MIQDAD" />
            <h4>SALMAN MIQDAD</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
